<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-2">
      <ion-text color="primary"><h5>Regd.Office:</h5></ion-text>
      <ion-text class="cusFS14"><b>Global Best HR & Management Consulting Pvt Ltd</b></ion-text><br>
      <ion-text class="cusFS14">F2, Landmark Town Hall No. 69 McNicholos Road,</ion-text><br>
      <ion-text class="cusFS14">Chetpet, Chennai 600 031.</ion-text>

      <div class="pt-3">
        <ion-text color="primary"><h5>Office Address:</h5></ion-text>
        <ion-text class="cusFS14"><b>Global Best HR & Management Consulting Pvt Ltd</b></ion-text><br>
        <ion-text class="cusFS14">No.5, B Block, 5th Floor, Parsn Mannere,</ion-text><br>
        <ion-text class="cusFS14">New no.442 Anna Salai (Mount Road)</ion-text><br>
        <ion-text class="cusFS14">Next to hotel The Park</ion-text><br>
        <ion-text class="cusFS14">Chennai 600 006</ion-text><br>
        <ion-text class="cusFS14">Landline: 044 4854 2731</ion-text><br>
        <ion-text class="cusFS14">Mobile: +91 73580 35183</ion-text>
      </div>

      <div class="pt-3">
        <ion-text color="primary"><h6>For recruitment and training please contact:</h6></ion-text>
        <ion-text class="cusFS14">Mobile: +91 73580 35183</ion-text><br>
        <ion-text class="cusFS14">Email: recruiter@globalbesthr.com</ion-text><br>
        <ion-text class="cusFS14">Website:www.globalbesthr.com</ion-text>
      </div>
  </div>
 <!-- <div class="divCenter">
    <ion-text color="primary">Under Developement</ion-text>
 </div> -->
</ion-content>
