<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Leave Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pl-2 pr-2 pt-2">
    <div class="form-group">
      <label>Leave Type <span class="text-danger">*</span></label>
      <ng-select [items]="leaveType" [(ngModel)]="ngLeaveType" [searchable]="true" #selectLeaveType bindValue="value"
        bindLabel="type" (close)="selectLeaveType.blur(); selectLeaveType.focus()" placeholder="Select Leave Type"
        dropdownPosition="bottom">
      </ng-select>
    </div>
    <div class="form-group">
      <label for="reason">Reason <span class="text-danger">*</span></label>
      <textarea class="form-control" [(ngModel)]="ngRemarks" placeholder="Enter Remarks" cols="5"></textarea>
    </div>


    <ion-radio-group class="ion-no-padding ion-no-margin" [(ngModel)]="ngLeaveFor">
      <ion-grid class="ion-no-padding ion-no-margin">
        <ion-row>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-label>Full Day</ion-label>
              <ion-radio slot="start" value="FullDay"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-label>Half Day</ion-label>
              <ion-radio slot="start" value="HalfDay"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-radio-group>

    <div *ngIf="ngLeaveFor == 'FullDay'">
      <div class="form-group">
        <label>Choose From and To Date :</label>
        <input [owlDateTime]="dt12" [min]="minDate" [selectMode]="'range'" [(ngModel)]="dateRange" class="form-control"
          [owlDateTimeTrigger]="dt12" (ngModelChange)="onChange($event)" placeholder="Choose From and To Date">
        <owl-date-time [pickerType]="'calendar'" #dt12></owl-date-time>
      </div>

      <div class="form-group">
        <label for="days">No of Days</label>
        <ion-input type="number" inputmode="numeric" [(ngModel)]="ngNoOfDays" readonly="true" placeholder="No of Days" class="form-control">
        </ion-input>
      </div>
    </div>

    <div *ngIf="ngLeaveFor == 'HalfDay'">
      <div class="form-group">
        <label>Half Day On <span class="text-danger">*</span></label>
        <input [owlDateTime]="dt13" [min]="minDate" class="form-control" [owlDateTimeTrigger]="dt13"
          placeholder="Half Day On" [(ngModel)]="ngHalfDayOn" >
        <owl-date-time [pickerType]="'calendar'" #dt13></owl-date-time>
      </div>

      <div class="form-group">
        <label>Noon <span class="text-danger">*</span></label>
        <ng-select [items]="noon" [(ngModel)]="ngNoon" [searchable]="true" #selectNoon bindValue="value"
          bindLabel="type" (close)="selectNoon.blur(); selectNoon.focus()" placeholder="Select Noon"
          dropdownPosition="bottom">
        </ng-select>
      </div>

    </div>

    <div class="ion-text-center">
      <ion-button (click)="submitFn()" shape="round">
        Apply
      </ion-button>
    </div>

  </div>

</ion-content>