<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title size="small" class="ion-text-center">Global Best HRMS</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" class="badge-button" (click)="goToNotification()" >
        <ion-icon name="notifications-circle-sharp" size="large"></ion-icon>
        <ion-badge class="badge-one" color="danger">{{count}}</ion-badge>
      </ion-button>
      <ion-button (click)="presentPopover($event)">
        <ion-icon slot="icon-only" size="medium" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-grid class="ion-no-padding">
      <ion-row>

        <ion-col size="6">
          <ion-card class="homeCard">
            <div class="ion-text-center">
              <ion-fab-button size="medium">
                <ion-icon name="cube-sharp" size="medium"></ion-icon>
              </ion-fab-button>
              <p>10<br>Projects</p>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="homeCard">
            <div class="ion-text-center">
              <ion-fab-button size="medium">
                <ion-icon name="people-circle-sharp" size="medium"></ion-icon>
              </ion-fab-button>
              <p>50<br>Client</p>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="homeCard">
            <div class="ion-text-center">
              <ion-fab-button size="medium">
                <ion-icon name="create-sharp" size="medium"></ion-icon>
              </ion-fab-button>
              <p>10<br>Task</p>
            </div>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="homeCard">
            <div class="ion-text-center">
              <ion-fab-button size="medium">
                <ion-icon name="person-sharp" size="medium"></ion-icon>
              </ion-fab-button>
              <p>20<br>Employees</p>
            </div>
          </ion-card>
        </ion-col>


      </ion-row>

    </ion-grid>
  </div>




  <ion-card class="welcome-card">
    <ion-card-header>
      <!-- <ion-card-subtitle>Number of Viewers per season for</ion-card-subtitle> -->
      <ion-card-title>Bar Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barChart></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Line Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #hrzLineChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>