<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-2 cusFS14">
    <ion-text>
      <b class="text-primary">Global Best HR</b>&nbsp;offers a bouquet of niche HR and Management solutions with an
      objective of facilitating
      organisation achieve its vision in the most productive and profitable way.
    </ion-text>
    <p>We bring collective wisdom of experts, practices, experiences, strategic and conceptual knowledge depth and
      customize to client requirement in order to achieve predetermined objectives we set together with Client
      organizations.</p>
    <b class="text-primary">We</b>
    <ul>
      <li>Provide end to end HR solutions to organisations</li>
      <li>Build Systems and Processes to scale up Operations and Profitable Business Growth
      </li>
      <li>Develop Internal Leadership & passionate workforce to drive and achieve organisation objectives
      </li>
      <li>Facilitate building strong result oriented and ethical work culture
      </li>
    </ul>
    <b class="text-primary">Areas of Operation:
    </b>
    <ul>
      <li>HR & OD Consultancy on assignment and or retainer basis
      </li>
      <li>Behavioural, Functional and Soft skill training leading to transformation
      </li>
      <li>Leadership Development and Leadership Hiring
      </li>
      <li>Assessment & Development Centres
      </li>
      <li>Recruitment for all levels & RPO
      </li>
      <li>
        HR Department & People Outsourcing
      </li>
    </ul>
  </div>
</ion-content>